.container {
    background-color:rgb(243, 240, 235);
    display: flex;
    padding: 16px;
    height: 1000px;
    width: 20%;
    margin-right: 400px;
    margin-top: -975px;
    margin-left: 1050px;
    margin-bottom: 40px;
}

.header {
    margin-right: 10px;
    font-size: 23px;
    font-weight: 700;
    color: rgb(65,150,164);
}
.header2 {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(5, 5, 5);
}
.contents {
    font-size: 15px;
    font-weight: 490;
}